In [53]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import mean_squared_error
from sklearn.impute import KNNImputer
import numpy as np

In [54]:
df=pd.read_csv('weather_report.csv')

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1742 entries, 0 to 1741
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PM2.5   1742 non-null   object
 1   PM10    1742 non-null   object
 2   NO2     1742 non-null   object
 3   NH3     1742 non-null   object
 4   SO2     1742 non-null   object
 5   CO      1742 non-null   object
 6   Ozone   1742 non-null   object
dtypes: object(7)
memory usage: 95.4+ KB

In [56]:
def f(x):return None if x=='None' else x

In [57]:
l=df.columns

In [58]:
for i in df.columns:df[i]=df[i].apply(f)

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1742 entries, 0 to 1741
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PM2.5   1650 non-null   object
 1   PM10    906 non-null    object
 2   NO2     1693 non-null   object
 3   NH3     898 non-null    object
 4   SO2     1692 non-null   object
 5   CO      1702 non-null   object
 6   Ozone   1686 non-null   object
dtypes: object(7)
memory usage: 95.4+ KB

In [9]:
df.corr()

Empty DataFrame
Columns: []
Index: []

In [60]:
x=df[df[l[0]].notnull()]

In [61]:
x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1650 entries, 0 to 1741
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PM2.5   1650 non-null   object
 1   PM10    869 non-null    object
 2   NO2     1636 non-null   object
 3   NH3     854 non-null    object
 4   SO2     1640 non-null   object
 5   CO      1650 non-null   object
 6   Ozone   1628 non-null   object
dtypes: object(7)
memory usage: 103.1+ KB

In [62]:
x.head(10)

   PM2.5  PM10    NO2   NH3    SO2    CO  Ozone
0  99.25  None   17.1  None  27.88  0.56  52.69
1  55.64  None  17.21  None  20.45  0.98  38.29
2  71.49  None  17.81  None  22.31  1.09  34.55
3  75.06  None  17.67  None  15.82  0.98   32.5
4  73.29  None  18.42  None  13.92  1.23  38.51
5   67.1  None  16.79  None  11.69  0.76  35.15
6  56.17  None  17.27  None  15.21  0.86  23.03
7  66.49  None  18.43  None  26.92  0.95  27.76
8  77.11  None  16.32  None   6.89  0.95  38.19
9  66.07  None  17.49  None   7.45  0.91  28.64

In [63]:
index_column = x.index.tolist()

In [64]:
n=[i for i in index_column if i%2==0]
n

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200,
 202,
 204,
 206,
 208,
 210,
 212,
 214,
 216,
 218,
 220,
 222,
 224,
 226,
 228,
 230,
 232,
 234,
 236,
 238,
 240,
 242,
 244,
 246,
 248,
 250,
 252,
 254,
 256,
 258,
 260,
 262,
 264,
 266,
 268,
 270,
 272,
 274,
 276,
 278,
 280,
 282,
 284,
 286,
 288,
 290,
 292,
 294,
 296,
 298,
 300,
 302,
 304,
 306,
 308,
 310,
 312,
 314,
 316,
 318,
 320,
 322,
 324,
 326,
 328,
 330,
 332,
 334,
 336,
 338,
 340,
 342,
 344,
 346,
 348,
 350,
 352,
 354,
 356,
 358,
 360,
 362,
 364,
 366,
 368,
 370,
 372,
 374,
 376,
 378,
 380,
 382,
 384,
 386,
 388,
 390,
 392,
 394,
 396,
 398,
 400,
 402,
 404,
 406,
 408,
 410,
 412,
 414,
 416,
 418,
 420,
 422,
 424,
 426,
 428,
 430,
 432,
 434,
 436,
 438,
 440,
 442,
 444,
 446,
 448,
 450,
 452,
 454,
 456,
 458,
 460,
 462,
 464,
 466,
 468,
 470,
 472,
 474,
 476,
 478,
 480,
 482,
 484,
 486,
 488,
 490,
 492,
 494,
 496,
 498,
 500,
 502,
 504,
 506,
 508,
 510,
 512,
 514,
 516,
 518,
 520,
 522,
 524,
 526,
 528,
 530,
 532,
 534,
 536,
 538,
 540,
 542,
 544,
 546,
 548,
 550,
 552,
 554,
 556,
 558,
 560,
 562,
 564,
 566,
 568,
 570,
 572,
 574,
 576,
 578,
 580,
 582,
 584,
 586,
 588,
 590,
 592,
 594,
 596,
 598,
 600,
 602,
 604,
 606,
 608,
 610,
 612,
 614,
 616,
 618,
 620,
 622,
 624,
 626,
 628,
 630,
 632,
 634,
 636,
 638,
 640,
 642,
 644,
 646,
 648,
 650,
 652,
 654,
 656,
 658,
 660,
 662,
 664,
 666,
 668,
 670,
 672,
 674,
 676,
 678,
 680,
 682,
 684,
 686,
 688,
 690,
 692,
 696,
 698,
 700,
 702,
 704,
 706,
 708,
 710,
 714,
 716,
 718,
 720,
 722,
 724,
 726,
 728,
 730,
 732,
 734,
 736,
 738,
 740,
 742,
 744,
 746,
 748,
 750,
 752,
 754,
 756,
 758,
 760,
 762,
 764,
 766,
 768,
 770,
 772,
 774,
 776,
 778,
 780,
 782,
 784,
 786,
 788,
 790,
 792,
 794,
 796,
 798,
 800,
 802,
 804,
 806,
 808,
 810,
 812,
 814,
 816,
 820,
 822,
 824,
 830,
 832,
 834,
 836,
 838,
 840,
 842,
 844,
 846,
 848,
 850,
 852,
 854,
 856,
 858,
 860,
 862,
 864,
 866,
 868,
 870,
 872,
 874,
 876,
 878,
 880,
 882,
 884,
 886,
 888,
 890,
 892,
 894,
 896,
 898,
 900,
 902,
 904,
 906,
 908,
 910,
 912,
 914,
 916,
 918,
 920,
 922,
 924,
 926,
 928,
 930,
 932,
 934,
 936,
 938,
 940,
 942,
 944,
 946,
 948,
 950,
 952,
 954,
 956,
 958,
 960,
 962,
 964,
 966,
 968,
 970,
 972,
 974,
 976,
 978,
 980,
 982,
 984,
 986,
 988,
 990,
 992,
 994,
 996,
 998,
 1000,
 1002,
 1004,
 1006,
 1008,
 1010,
 1012,
 1014,
 1022,
 1024,
 1026,
 1028,
 1030,
 1032,
 1034,
 1036,
 1038,
 1040,
 1042,
 1044,
 1046,
 1048,
 1050,
 1052,
 1054,
 1056,
 1058,
 1060,
 1062,
 1064,
 1066,
 1068,
 1070,
 1072,
 1074,
 1076,
 1078,
 1080,
 1082,
 1084,
 1086,
 1088,
 1090,
 1092,
 1094,
 1096,
 1098,
 1100,
 1102,
 1104,
 1106,
 1108,
 1110,
 1112,
 1114,
 1116,
 1118,
 1120,
 1122,
 1124,
 1128,
 1130,
 1132,
 1134,
 1136,
 1138,
 1140,
 1142,
 1144,
 1146,
 1148,
 1150,
 1152,
 1154,
 1156,
 1158,
 1160,
 1162,
 1164,
 1166,
 1168,
 1170,
 1172,
 1174,
 1176,
 1178,
 1180,
 1182,
 1184,
 1186,
 1188,
 1190,
 1194,
 1196,
 1206,
 1208,
 1210,
 1212,
 1214,
 1216,
 1218,
 1220,
 1222,
 1224,
 1226,
 1228,
 1230,
 1232,
 1234,
 1236,
 1238,
 1240,
 1242,
 1246,
 1248,
 1250,
 1252,
 1254,
 1256,
 1258,
 1260,
 1262,
 1264,
 1266,
 1268,
 1270,
 1272,
 1274,
 1276,
 1278,
 1280,
 1282,
 1284,
 1286,
 1288,
 1290,
 1292,
 1294,
 1296,
 1298,
 1300,
 1302,
 1304,
 1306,
 1308,
 1310,
 1312,
 1314,
 1316,
 1318,
 1320,
 1322,
 1324,
 1326,
 1328,
 1330,
 1332,
 1334,
 1336,
 1338,
 1340,
 1342,
 1344,
 1346,
 1348,
 1350,
 1352,
 1354,
 1356,
 1358,
 1360,
 1362,
 1364,
 1366,
 1368,
 1370,
 1372,
 1374,
 1376,
 1378,
 1380,
 1382,
 1384,
 1386,
 1388,
 1390,
 1392,
 1394,
 1396,
 1398,
 1400,
 1402,
 1404,
 1406,
 1408,
 1410,
 1412,
 1414,
 1416,
 1418,
 1420,
 1422,
 1424,
 1426,
 1428,
 1430,
 1432,
 1434,
 1436,
 1438,
 1440,
 1442,
 1444,
 1446,
 1448,
 1450,
 1452,
 1454,
 1456,
 1458,
 1460,
 1462,
 1464,
 1466,
 1468,
 1470,
 1472,
 1474,
 1476,
 1478,
 1480,
 1482,
 1484,
 1486,
 1488,
 1490,
 1492,
 1494,
 1496,
 1498,
 1500,
 1502,
 1504,
 1506,
 1508,
 1510,
 1512,
 1514,
 1516,
 1518,
 1520,
 1522,
 1524,
 1526,
 1528,
 1530,
 1532,
 1534,
 1536,
 1538,
 1540,
 1542,
 1544,
 1546,
 1548,
 1556,
 1558,
 1560,
 1562,
 1564,
 1566,
 1568,
 1570,
 1572,
 1574,
 1576,
 1578,
 1580,
 1582,
 1584,
 1586,
 1588,
 1596,
 1598,
 1600,
 1602,
 1604,
 1606,
 1608,
 1610,
 1612,
 1614,
 1616,
 1618,
 1620,
 1622,
 1624,
 1626,
 1628,
 1630,
 1632,
 1634,
 1636,
 1638,
 1640,
 1642,
 1644,
 1646,
 1648,
 1650,
 1652,
 1654,
 1656,
 1658,
 1660,
 1662,
 1664,
 1666,
 1668,
 1670,
 1672,
 1674,
 1676,
 1678,
 1680,
 1682,
 1684,
 1686,
 1688,
 1690,
 1692,
 1716,
 1726,
 1728,
 1730,
 1732,
 1734,
 1736,
 1738,
 1740]

In [65]:
try:
    l=[df['PM2.5'].iloc[i] for i in n]
except IndexError:
    print(i)

In [66]:
x_new=pd.DataFrame(l,n,['PM2.5'])

In [67]:
x_new[]

      PM2.5
0     99.25
2     71.49
4     73.29
6     56.17
8     77.11
...     ...
1732  13.05
1734   9.25
1736  14.35
1738  12.82
1740  17.53

[826 rows x 1 columns]

In [68]:
x_i=x['PM2.5'].replace(l,None)

In [69]:
x['PM2.5']=x_i

C:\Users\Aniruth\AppData\Local\Temp\ipykernel_4880\4091298445.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['PM2.5']=x_i

In [70]:
x

      PM2.5   PM10    NO2    NH3    SO2    CO  Ozone
0      None   None   17.1   None  27.88  0.56  52.69
1     55.64   None  17.21   None  20.45  0.98  38.29
2      None   None  17.81   None  22.31  1.09  34.55
3     75.06   None  17.67   None  15.82  0.98   32.5
4      None   None  18.42   None  13.92  1.23  38.51
...     ...    ...    ...    ...    ...   ...    ...
1737  16.01  41.53   72.4  16.07    3.9   0.8  12.13
1738   None   35.7   70.8  12.95   4.69  0.82  12.29
1739  14.93  39.56  87.74  14.82   4.45  1.08  12.29
1740   None  44.32  54.21  17.24   4.88  1.06  10.39
1741  16.87  43.11  37.91  19.79   2.07  1.61    4.6

[1650 rows x 7 columns]

In [215]:
k=KNNImputer(n_neighbors=4)

In [216]:
x_pred=k.fit_transform(x)

In [217]:
df1=pd.DataFrame(x_pred,x.index,x.columns)

In [218]:
df1

        PM2.5      PM10    NO2      NH3    SO2    CO  Ozone
0     37.1950   67.5325  17.10  22.9800  27.88  0.56  52.69
1     55.6400   72.3925  17.21  15.7525  20.45  0.98  38.29
2     71.4900   57.5625  17.81  15.7500  22.31  1.09  34.55
3     75.0600  102.9825  17.67  17.6825  15.82  0.98  32.50
4     32.4550   87.8125  18.42  23.0125  13.92  1.23  38.51
...       ...       ...    ...      ...    ...   ...    ...
1737  16.0100   41.5300  72.40  16.0700   3.90  0.80  12.13
1738  12.8200   35.7000  70.80  12.9500   4.69  0.82  12.29
1739  14.9300   39.5600  87.74  14.8200   4.45  1.08  12.29
1740  26.3125   44.3200  54.21  17.2400   4.88  1.06  10.39
1741  16.8700   43.1100  37.91  19.7900   2.07  1.61   4.60

[1650 rows x 7 columns]

In [219]:
r=df1[df1.index%4==0]['PM2.5']
r

0       37.1950
4       32.4550
8       55.3550
12      41.2650
16      48.9425
         ...
1716    33.0875
1728    13.0900
1732    15.1600
1736    17.9925
1740    26.3125
Name: PM2.5, Length: 414, dtype: float64

In [220]:
r.tolist()

[37.19499999999999,
 32.455,
 55.355000000000004,
 41.265,
 48.9425,
 39.709999999999994,
 18.765,
 21.267500000000002,
 62.68750000000001,
 50.5925,
 35.3425,
 36.7875,
 35.595,
 42.035,
 156.84500000000003,
 40.0275,
 73.685,
 21.205000000000002,
 54.6875,
 29.0575,
 49.67999999999999,
 32.88,
 44.5225,
 32.4975,
 27.415,
 20.81,
 26.535,
 33.595,
 34.2425,
 8.7625,
 29.8125,
 21.869999999999997,
 19.3925,
 39.3325,
 17.7375,
 34.3675,
 21.445,
 45.375,
 26.975,
 49.0275,
 32.4475,
 33.3325,
 30.0325,
 26.7775,
 26.79,
 27.8125,
 59.625,
 42.052499999999995,
 52.86749999999999,
 30.3925,
 26.905,
 25.765000000000004,
 31.98,
 20.615000000000002,
 46.7175,
 28.595,
 45.887499999999996,
 35.8,
 39.06999999999999,
 32.41,
 36.0725,
 42.54,
 54.5075,
 70.655,
 20.9375,
 32.3225,
 41.8075,
 24.1225,
 34.295,
 55.190000000000005,
 38.567499999999995,
 44.144999999999996,
 51.2325,
 26.975,
 34.15,
 30.94,
 31.714999999999996,
 27.9225,
 22.405,
 26.6725,
 57.18749999999999,
 36.692499999999995,
 28.285,
 95.25750000000001,
 49.7325,
 34.2675,
 44.0725,
 33.54,
 65.525,
 46.807500000000005,
 48.0625,
 21.415,
 57.027499999999996,
 47.107499999999995,
 52.685,
 90.68,
 23.3575,
 47.3875,
 30.387499999999996,
 34.2925,
 58.56999999999999,
 73.77250000000001,
 25.155,
 13.115,
 10.845,
 31.12,
 24.96,
 26.0,
 22.197499999999998,
 35.4825,
 36.292500000000004,
 28.615000000000002,
 37.7925,
 11.527499999999998,
 8.89,
 33.6325,
 33.22,
 30.005,
 13.637500000000001,
 32.41,
 39.762499999999996,
 22.705,
 14.4875,
 29.895,
 13.39,
 17.9075,
 36.1625,
 25.912499999999998,
 18.91,
 15.4675,
 19.0,
 21.5275,
 38.935,
 21.84,
 23.3575,
 27.685000000000002,
 17.32,
 31.839999999999996,
 22.877499999999998,
 11.8125,
 14.892500000000002,
 24.5625,
 31.3525,
 24.735,
 28.880000000000003,
 28.160000000000004,
 29.5025,
 35.78,
 23.02,
 27.427500000000002,
 21.525,
 22.0475,
 23.3575,
 30.755,
 26.15,
 26.5275,
 23.3575,
 28.605,
 20.575000000000003,
 22.75,
 30.2525,
 33.644999999999996,
 27.945,
 35.14,
 19.445,
 41.8225,
 19.2925,
 26.8925,
 135.3725,
 27.870000000000005,
 28.497500000000002,
 30.979999999999997,
 25.825000000000003,
 38.175,
 40.5125,
 29.1875,
 78.09,
 30.855,
 36.85,
 30.89,
 59.78750000000001,
 36.46,
 31.6125,
 31.98,
 41.262499999999996,
 30.735,
 20.225,
 32.1375,
 36.510000000000005,
 20.225,
 21.79,
 18.27,
 46.1125,
 55.045,
 40.4725,
 46.1125,
 49.5475,
 49.8375,
 36.9,
 20.5975,
 42.535,
 56.06750000000001,
 29.2425,
 47.3825,
 41.48,
 46.282500000000006,
 13.795,
 14.162500000000001,
 27.825,
 29.3225,
 31.830000000000002,
 33.4525,
 25.2225,
 24.487499999999997,
 50.805,
 26.4,
 31.3425,
 26.8925,
 47.26,
 16.9475,
 25.8375,
 28.3875,
 21.295,
 33.28,
 22.1875,
 38.5075,
 27.009999999999998,
 34.58,
 33.5475,
 29.065,
 32.0675,
 28.157500000000002,
 31.6825,
 22.8225,
 25.042500000000004,
 26.9575,
 20.1,
 17.7725,
 36.015,
 24.892500000000002,
 27.3425,
 29.909999999999997,
 26.167499999999997,
 24.502499999999998,
 29.965,
 27.522499999999997,
 31.6725,
 40.335,
 42.4225,
 94.67750000000001,
 21.415,
 34.5125,
 27.2625,
 22.285,
 19.0375,
 19.045,
 59.8825,
 63.545,
 56.39,
 21.57,
 48.7625,
 36.4775,
 51.214999999999996,
 61.6875,
 54.397499999999994,
 58.88249999999999,
 48.887499999999996,
 20.540000000000003,
 35.6425,
 22.970000000000002,
 46.095,
 40.0225,
 63.515,
 47.849999999999994,
 43.9975,
 52.11,
 47.43,
 30.692500000000003,
 29.542500000000004,
 77.91250000000001,
 56.56,
 37.379999999999995,
 57.26,
 46.5875,
 25.9975,
 36.295,
 24.872500000000002,
 26.855,
 24.9525,
 26.2725,
 23.745,
 20.494999999999997,
 33.1325,
 37.5675,
 26.097499999999997,
 43.72,
 49.5775,
 51.94500000000001,
 31.270000000000003,
 82.25500000000001,
 21.215000000000003,
 52.5525,
 29.2675,
 70.68,
 30.6675,
 24.81,
 27.159999999999997,
 28.134999999999998,
 13.612499999999999,
 40.335,
 40.837500000000006,
 34.55,
 45.485,
 19.545,
 30.709999999999994,
 31.270000000000003,
 20.5475,
 26.92,
 37.5675,
 20.7475,
 58.49999999999999,
 55.607499999999995,
 56.2175,
 59.095,
 55.93749999999999,
 27.8475,
 68.885,
 48.1325,
 45.92999999999999,
 40.515,
 53.5925,
 57.79,
 39.875,
 27.29,
 39.22,
 101.6925,
 70.755,
 45.19,
 46.6725,
 24.814999999999998,
 37.794999999999995,
 67.0675,
 26.275,
 93.6975,
 97.11000000000001,
 83.7875,
 110.885,
 67.0375,
 87.82999999999998,
 68.64,
 121.025,
 35.16,
 72.22749999999999,
 79.2975,
 127.035,
 73.42750000000001,
 61.57,
 92.435,
 80.8775,
 103.85249999999999,
 81.41499999999999,
 72.27,
 78.3375,
 104.7825,
 94.7125,
 76.7925,
 69.085,
 63.625,
 55.185,
 66.2675,
 61.1725,
 32.37,
 30.6325,
 22.112499999999997,
 30.1875,
 28.005000000000003,
 46.985,
 60.6775,
 53.1625,
 41.36,
 53.470000000000006,
 33.705,
 34.715,
 41.4975,
 53.1625,
 46.285000000000004,
 55.275000000000006,
 47.225,
 58.0875,
 76.7925,
 38.2625,
 38.1425,
 49.92999999999999,
 39.61749999999999,
 53.3275,
 36.4075,
 39.7625,
 46.870000000000005,
 39.2225,
 44.7975,
 55.3775,
 31.892500000000002,
 39.11749999999999,
 33.15,
 41.78,
 56.615,
 43.912499999999994,
 58.49999999999999,
 43.9125,
 33.0875,
 13.09,
 15.159999999999998,
 17.9925,
 26.3125]

In [221]:
rmse = mean_squared_error(x_new,r, squared = False)

In [222]:
rmse
#45.74-12 neighbors
#32.98-7 neighbors
#29.15-5 neighbors
#42.75-4 neighbors
#35.16-3 neighbors
#35.28-2 neighbors

42.7542359236751